<div [@pageTransition]>
    <section class="grid grid-cols-1 xl:grid-cols-2 gap-5">
        <div class="   rounded-lg my-auto">

            <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-3">

                <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                    <div
                        class="hover:scale-110 duration-700 bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-emerald-600 to-emerald-400 text-white shadow-emerald-500/40 shadow-lg absolute -mt-4 grid h-12 w-12 place-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-6 h-6 text-white">
                            <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
                            <path fill-rule="evenodd"
                                d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z"
                                clip-rule="evenodd"></path>
                            <path
                                d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z">
                            </path>
                        </svg>
                    </div>
                    <div class="p-4 text-right">
                        <br>
                        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
                            Montant total de l'année </p>
                    </div>
                    <div class="border-t border-blue-gray-50 p-4">
                        <h4
                            class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                            {{this.totalYearAmountMAD.toFixed(3)}} <span class="text-sm text-gray-400">(MAD)</span>
                        </h4>
                    </div>
                </div>

                <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                    <div
                        class="hover:scale-110 duration-700 bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-emerald-600 to-emerald-400 text-white shadow-emerald-500/40 shadow-lg absolute -mt-4 grid h-12 w-12 place-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-6 h-6 text-white">
                            <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
                            <path fill-rule="evenodd"
                                d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z"
                                clip-rule="evenodd"></path>
                            <path
                                d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z">
                            </path>
                        </svg>
                    </div>
                    <div class="p-4 text-right">
                        <br>
                        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">
                            Montant total du jour</p>
                    </div>
                    <div class="border-t border-blue-gray-50 p-4">
                        <h4
                            class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                            {{this.totalDayAmountMAD.toFixed(3)}} <span class="text-sm text-gray-400">(MAD)</span>
                        </h4>
                    </div>
                </div>

            </section>


            <div class="bg-white rounded-xl shadow-md mt-14 ">
                <div class="card-title px-4 pt-3 bg-transparent">
                    <h4 class="text-xl font-bold leading-none text-gray-600">
                        Méthodes les plus utilisées
                    </h4>
                </div>
                <div id="chart" class="widthT mx-auto mb-0 pb-0 " (mouseenter)="showTitle = true"
                    (mouseleave)="showTitle = false">
                    <div class="flex justify-center items-center">
                        <canvas id="areaWiseSale" class="w-full h-64 p-0 m-0"></canvas>
                    </div>
                </div>
            </div>

        </div>

        <div class="card p-8 bg-emerald-600 text-gray-50">
            <!-- <h3 class="text-2xl">Description Détaillée</h3> -->
            <div>
                <app-chart [marchandId]="marchantId"></app-chart>
            </div>
            <h2 (click)="scrollToSection()"
                class="animate-jump animate-once animate-duration-[2000ms] animate-ease-in-out animate-reverse hover:scale-105 duration-700 w-auto mt-5 p-5 text-base font-medium text-white rounded-lg bg-emerald-300 bg-opacity-25 hover:text-gray-900 hover:bg-emerald-200 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="text-4xl font-bold">
                    {{ calculateTotalTransactions }}
                </span>
                <div class="flex">
                    Transactions
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="animate-bounce w-8 h-8 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </div>
            </h2>
        </div>
    </section>

    <div class="my-5"></div>

    <section #detailedDescription>
        <div class="card p-5 mt-5">
            <div class="card-title flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold leading-none">Details des transactions</h3>
            </div>
            <app-transaction></app-transaction>
        </div>
    </section>

</div>

<!-- ///////////// Scroll To Top ////////////////// -->
<app-scroll-to-top></app-scroll-to-top>