<div [@pageTransition]>
    <!-- user summary -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        <div class="rounded-xl bg-white p-5 m-2  flex justify-between items-center shadow">
            <div>
                <h3 class="font-bold">Total Users</h3>
                <p class="text-gray-500">100</p>
            </div>
            <i class="fa-solid fa-users p-4 bg-gray-200 rounded-md"></i>
        </div>

        <div class="rounded-xl bg-white  p-5 m-2 flex justify-between items-center shadow">
            <div>
                <h3 class="font-bold">Total Active Users</h3>
                <p class="text-gray-500">65</p>
            </div>
            <i class="fa-solid fa-users p-4 bg-green-200 rounded-md"></i>
        </div>

        <div class="rounded-xl bg-white  p-5 m-2 flex justify-between items-center shadow">
            <div>
                <h3 class="font-bold">Total In Active Users</h3>
                <p class="text-gray-500">30</p>
            </div>
            <i class="fa-solid fa-users p-4 bg-yellow-200 rounded-md"></i>
        </div>

        <div class="rounded-xl bg-white p-5 m-2 flex justify-between items-center shadow">
            <div>
                <h3 class="font-bold">Deleted Users</h3>
                <p class="text-gray-500">5</p>
            </div>
            <i class="fa-solid fa-users p-4 bg-red-200 rounded-md"></i>
        </div>
    </div>

    <app-usertable></app-usertable>
</div>