<div [@pageTransition]>

  <section class="grid grid-cols-1 my-4  gap-5">
    <div class="card p-8 2xl:col-span-2">
      <div class="card-title">
        <h3 class="text-xl font-bold leading-none">Marchand form</h3>
      </div>


      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div class="space-y-12">
          <div class="">

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <div class="sm:col-span-3">
                <label for="url" 
                  [ngClass]="{'error-label': myForm.get('url')!.invalid && myForm.get('url')!.touched}"
                  class="block text-sm font-medium leading-6 text-gray-700">Photo</label>
                <div class="mt-2 flex items-center gap-x-3">
                  <div class="shrink-0">
                    <img [ngClass]="{'border-label': myForm.get('url')!.invalid && myForm.get('url')!.touched}" 
                      id="preview_img" class="h-14 w-14 object-cover rounded-lg" [src]="previewImageUrl" />
                  </div>
                  
                  <div >
                    <input required type="url" placeholder="Enter Image URL" 
                      [(ngModel)]="imageUrl" formControlName="url"
                      (input)="updatePreviewImageUrl($event)"
                      [ngClass]="{'border-label': myForm.get('url')!.invalid && myForm.get('url')!.touched}"
                      class="rounded-md px-2.5 py-1.5 text-sm focus:ring-emerald-600 font-semibold text-gray-900 shadow-sm ring-1  focus:outline-none ring-inset ring-gray-300 hover:bg-gray-50">
                    </div>
                  
                </div>
              </div>
              

              <div class="sm:col-span-4">

                <label for="username" 
                      class="block text-sm font-medium leading-6 text-gray-700"
                      [ngClass]="{'error-label': myForm.get('username')!.invalid && myForm.get('username')!.touched}">
                    Nom entité 
                </label>
                <div class="mt-2 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300  sm:max-w-md">
                  <input type="text" formControlName="username" name="username" id="username" autocomplete="username"
                    class="rounded-md pl-3 block flex-1 border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-200 focus:ring-1 focus:ring-emerald-600 focus:outline-none  sm:text-sm sm:leading-6"
                    placeholder="(entreprise ou auto-entrepreneur)" [ngClass]="{'border-label': myForm.get('username')!.invalid && myForm.get('username')!.touched}" required />
                </div>
                
              </div>


              <div class="col-span-full">
                <label for="about" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('about')!.invalid && myForm.get('about')!.touched}">
                  Description
                </label>
                <div class="mt-2">
                  <textarea formControlName="about"  id="about" name="about" rows="3" autocomplete="about"
                  [ngClass]="{'border-label': myForm.get('about')!.invalid && myForm.get('about')!.touched}"
                  class="rounded-md pl-3 block w-full  py-1.5  shadow-sm  ring-1 ring-inset ring-gray-300 placeholder:text-gray-200 focus:ring-1 focus:ring-emerald-600 focus:outline-none "
                    placeholder="Description des produits ou serices vendus." required></textarea>
                </div>
              </div>


            </div>
          </div>

          <div class="border-b border-gray-900/10 pb-12">


            <div class=" grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3 ">
                <label for="rc" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('rc')!.invalid && myForm.get('rc')!.touched}">RC ou IF (Α.Ε.)</label>
                <div class="mt-2">
                  <input required type="text" name="rc" id="rc" autocomplete="given-rc" formControlName="rc"
                  [ngClass]="{'border-label': myForm.get('rc')!.invalid && myForm.get('rc')!.touched}"
                    class="pl-3 focus:outline-none block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6" required>
                </div>
              </div>

              <div class="sm:col-span-3">
                <label  for="addressesiege" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('addressesiege')!.invalid && myForm.get('addressesiege')!.touched}">Addresse du siège
                  social</label>
                <div class="mt-2">
                  <input required type="text" name="addressesiege" id="addressesiege" autocomplete="addressesiege"
                  [ngClass]="{'border-label': myForm.get('addressesiege')!.invalid && myForm.get('addressesiege')!.touched}"
                  formControlName="addressesiege" class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900"
                    [ngClass]="{'error-label': myForm.get('email')!.invalid && myForm.get('email')!.touched}">
                    Adresse e-mail
                </label>
                <div class="mt-2">
                    <input required id="email" name="email" type="email" autocomplete="email" formControlName="email"
                        pattern="[a-zA-Z0-9._%+-]+@gmail\.com"
                        [ngClass]="{'border-label': myForm.get('email')!.invalid && myForm.get('email')!.touched}"
                        class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                    <div *ngIf="myForm.get('email')?.hasError('pattern') && myForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
                        Veuillez entrer une adresse e-mail Gmail valide (ex: exemple&#64;gmail.com).
                    </div>
                </div>
            </div>
            

                <div class="sm:col-span-3">
                  <label for="telephone" class="block text-sm font-medium leading-6 text-gray-900"
                      [ngClass]="{'error-label': myForm.get('telephone')!.invalid && myForm.get('telephone')!.touched}">
                      Téléphone
                  </label>
                  <div class="mt-2">
                      <input required type="tel" name="telephone" id="telephone" autocomplete="telephone" formControlName="telephone"
                          pattern="\+?\d[\d\+\s()-]*"
                          [ngClass]="{'border-label': myForm.get('telephone')!.invalid && myForm.get('telephone')!.touched}"
                          class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                      <div *ngIf="myForm.get('telephone')?.hasError('pattern') && myForm.get('telephone')?.touched" class="text-red-500 text-sm mt-1">
                          Veuillez entrer un numéro de téléphone valide.
                      </div>
                  </div>
              </div>


              <div class="sm:col-span-3">
                <label for="dgName" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('dgName')!.invalid && myForm.get('dgName')!.touched}">Nom du DG ou
                  gérant</label>
                <div class="mt-2">
                  <input required type="text" name="dgName" id="dgName" autocomplete="dgName" formControlName="dgName"
                  [ngClass]="{'border-label': myForm.get('dgName')!.invalid && myForm.get('dgName')!.touched}"
                    class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="webHost" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('webHost')!.invalid && myForm.get('webHost')!.touched}">Adresse site web</label>
                <div class="mt-2">
                  <input required type="text" name="webHost" id="webHost" autocomplete="webHost" formControlName="webHost"
                  [ngClass]="{'border-label': myForm.get('webHost')!.invalid && myForm.get('webHost')!.touched}"
                    class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2 sm:col-start-1">
                <label for="activite" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('activite')!.invalid && myForm.get('activite')!.touched}">Type de
                  l'activité</label>
                <div class="mt-2">
                  <input required type="text" name="activite" id="activite" autocomplete="address-level2" formControlName="activite"
                  [ngClass]="{'border-label': myForm.get('activite')!.invalid && myForm.get('activite')!.touched}"
                    class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="anneeActivite" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('anneeActivite')!.invalid && myForm.get('anneeActivite')!.touched}">Années d'activité</label>
                <div class="mt-2">
                  <select required  id="anneeActivite" name="anneeActivite" autocomplete="anneeActivite" formControlName="anneeActivite"
                  [ngClass]="{'border-label': myForm.get('anneeActivite')!.invalid && myForm.get('anneeActivite')!.touched}"
                    class="pl-3 block w-full rounded-md h-9  border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="">* Années d'activité</option>
                    <option value="MOINS_1_AN">Moins &lt; 1 an</option>
                    <option value="UN_A_5_ANS">1 an à 5 ans</option>
                    <option value="PLUS_5_ANS">Plus &gt; 5 ans</option>
                  </select>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="legalFormValue" class="block text-sm font-medium leading-6 text-gray-900"
                [ngClass]="{'error-label': myForm.get('legalFormValue')!.invalid && myForm.get('legalFormValue')!.touched}">
                Forme juridique</label>
                <div class="mt-2">
                  <select required  id="legalFormValue" name="legalFormValue" autocomplete="legalFormValue-name" formControlName="legalFormValue"
                  [ngClass]="{'border-label': myForm.get('legalFormValue')!.invalid && myForm.get('legalFormValue')!.touched}"
                  class="pl-3 block w-full rounded-md h-9 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-1 focus:outline-none  focus:ring-inset focus:ring-emerald-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="">* Forme juridique</option>
                    <option value="Entreprise">Entreprise</option>
                    <option value="AutoEntrepreneur">Auto-Entrepreneur</option>
                    <option value="Association">Association</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-row justify-start pt-10">
          <!-- Cancel button -->
          <button type="button" (click)="clearForm()"
            class="text-white mr-5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Clear</button>

          <!-- Save button -->
          <button type="submit" 
            class="text-white bg-emerald-500 hover:bg-emerald-600 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">Save</button>
        </div>
      </form>

        <!-- Alert for successful addMarchandReussie -->
        <div *ngIf="addMarchandReussie"
        class="bg-green-100 p-5 border border-green-400 text-green-700 px-4 py-3 rounded-lg relative" role="alert">
        <strong class="font-bold">Ajout de marchand réussi !</strong>
        <span class="block sm:inline">Le marchand a été ajouté avec succès.</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <lord-icon
              (click)="addMarchandReussie = false"
              src="https://cdn.lordicon.com/nqtddedc.json"
              trigger="hover"
              colors="primary:#15803d"
              style="width:30px;height:30px">
          </lord-icon>
        </span>
        </div>

    </div>
  </section>

</div>


<app-scroll-to-top></app-scroll-to-top>