<div [@pageTransition] class="pt-36 pb-28 main flex justify-center items-center shadow-2xl">
    <div class="card p-5 w-10/12 xl:w-1/2 grid grid-cols-1 md:grid-cols-2">
        <div class="relative flex flex-col p-1 md:p-8">
            <h2 class="text-lg pb-2">
                Commencez Maintenant
            </h2>

            <p class="text-xs">Entrez vos identifiants pour accéder à votre tableau de bord</p>

            <app-alert (hideAlert)="onAlertCloseHandler($event)" [dismissible]="true" [messages]="serverErrors"
                [show]="serverErrors.length > 0" [type]="AlertType.Danger"></app-alert>

            <form class="my-5 mt-28" [formGroup]="signInForm" (ngSubmit)="onFormSubmitHandler($event)">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <div class="relative">
                        <input type="text" id="username" class="form-control w-full ps-10" formControlName="username"
                            placeholder="veuillez entrer votre nom d'utilisateur ou email">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-person"></i>
                        </span>
                    </div>
                    <validation-error [fieldControl]="signInForm.controls['username']"></validation-error>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <div class="relative">
                        <input type="password" id="password" class="form-control w-full ps-10"
                            formControlName="password" placeholder="veuillez entrer votre mot de passe">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                    </div>
                    <validation-error [fieldControl]="signInForm.controls['password']"></validation-error>
                </div>

                <div class="text-sm my-4">
                    <div class="inline-flex items-center gap-x-1">
                        <input type="checkbox" id="rememberme" class="h-auto cursor-pointer">
                        <label for="rememberme" class="cursor-pointer">Se souvenir de moi</label>
                    </div>
                    <a href="javascript:void(0)" class="text-emerald-600 float-right">Mot de passe oublié ?</a>
                </div>

                <button type="submit" class="btn w-full btn-theme" [disabled]="isLoading">
                    <btn-spinner *ngIf="isLoading" [show]="isLoading"></btn-spinner>
                    <span class="btn-text" [ngClass]="{'translate-x-0.5': isLoading}">
                        Se connecter
                    </span>
                </button>
            </form>

            <div class="text-sm text-gray-400">
                <p>Vous n'avez pas de compte ? <a [routerLink]="commonService.prepareRoute(publicRoutes.Signup)"
                        class="text-emerald-600">Inscrivez-vous</a> maintenant !</p>
            </div>
        </div>
        <div class="md:block hidden text-white bg-emerald-600 rounded-lg p-8 xl:p-12">
            <h2 class="text-lg xl:text-2xl pb-3">La manière la plus simple de gérer<br>vos événements</h2>
            <p class="text-xs">Entrez vos identifiants pour accéder à votre compte</p>
            <div class="py-8">
                <img src={{signinBannerImage}} alt="image de la page de connexion" class="hover:scale-105 duration-700 border rounded-lg border-emerald-600">
            </div>
        </div>
    </div>
</div>
