<div [@pageTransition]>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div class="card flex items-center gap-3">
            <div class="hover:scale-110 duration-700 bg-gradient-to-br from-emerald-500 to-emerald-700 py-2 px-3 rounded-lg text-white">
                <span class="bi bi-shop text-3xl"></span>
            </div>
            <div>
                <h4 class="text-xl font-bold">{{totalMarchands}}</h4>
                <p class="text-md text-gray-400">Total Marchands</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="hover:scale-110 duration-700 bg-gradient-to-br from-orange-500 to-orange-700 py-2 px-3 rounded-lg text-white">
                <span class="bi bi-credit-card-2-front text-3xl"></span>
            </div>
            <div>
                <h4 class="text-xl font-bold">2560+</h4>
                <p class="text-md text-gray-400">Total Transactions</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="hover:scale-110 duration-700 bg-gradient-to-br from-violet-500 to-violet-700 py-2 px-3 rounded-lg text-white">
                <span class="bi bi-people-fill text-3xl"></span>
            </div>
            <div>
                <h4 class="text-xl font-bold">5000+</h4>
                <p class="text-md text-gray-400">Total Registration</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="hover:scale-110 duration-700 bg-gradient-to-br from-cyan-500 to-cyan-700 py-2 px-3 rounded-lg text-white">
                <span class="bi bi-cash-stack text-3xl"></span>
            </div>
            <div>
                <h4 class="text-xl font-bold">8000 DH</h4>
                <p class="text-md text-gray-400">Total Revenue</p>
            </div>
        </div>
    </section>
</div>
<app-table></app-table>
<!-- <app-transaction></app-transaction> -->


<app-scroll-to-top></app-scroll-to-top>