<div class="antialiased sans-serif bg-transparent w-lg "> 

    <div *ngIf="true" [ngClass]="'px-4'" [ngStyle]="{ 'max-width': 'lg', 'margin': 'auto', 'padding-top': '10', 'padding-bottom': '10' }">
    <div class=" p-2 rounded-lg bg-transparent">
        <div class="md:flex md:justify-between md:items-center">
            <div>
                <h2 class="text-xl text-gray-100 font-bold leading-tight">Ventes de produits</h2>
                <p class="mb-2 text-gray-200 text-sm">Moyenne mensuelle</p>
            </div>
            
            <!-- Légendes -->
            <div class="mb-4">
                <div class="flex items-center">
                    <div classe="relative">
                        <div class="absolute w-2 h-2  animate-ping bg-emerald-300 mr-2 rounded-full"></div>
                        <div class="w-2 h-2 bg-emerald-300 mr-2 rounded-full"></div>
                    </div>
                    <div class="text-sm text-gray-200">Ventes</div>
                </div>
            </div>
        </div>            

        <div class="line my-8 relative">
        <!-- Tooltip -->
        <div *ngIf="tooltipOpen" [ngStyle]="{ 'bottom': tooltipY + 'px', 'left': tooltipX + 'px' }" class="p-0 m-0 z-10 shadow-lg rounded-lg absolute h-auto block">
            <div class="shadow-xs rounded-lg bg-emerald-600 border border-gray-100 p-2">
            <div class="flex items-center justify-between text-sm">
                <div>Sales:</div>
                <div class="font-bold ml-2">
                <span [innerHTML]="tooltipContent"></span>
                </div>
            </div>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="flex -mx-2 items-end mb-2">
            <div *ngFor="let data of chartData" class="px-2 w-1/6">
            <div [ngStyle]="{ 'height': data + 'px' }" class="transition ease-in duration-200 bg-emerald-300 rounded-lg hover:bg-emerald-100 relative" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()">
                <div class="text-center absolute top-0 left-0 right-0 -mt-6 text-gray-200 text-sm">{{ data }}</div>
            </div>
            </div>
        </div>

        <!-- Labels -->
        <div [ngStyle]="{ 'height': '1px', 'width': 100 - (1 / chartData.length * 100) + 3 + '%'}" class="border-t border-gray-400 mx-auto"></div>
        <div class="flex -mx-2 items-end">
            <div *ngFor="let data of labels" class="px-2 w-1/6">
            <div class=" relative">
                <div class="text-center absolute top-0 left-0 right-0 h-2 -mt-px bg-gray-200 mx-auto" style="width: 1px"></div>
                <div class="text-center absolute top-0 left-0 right-0 mt-3 text-gray-100 text-sm">{{ data }}</div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
