<aside>
    <div class="brand-wrapper">
        <a href="#" class="brand text-center">
            <h1 class="flex items-center font-bold text-emerald-50">
                <img src="https://i.ibb.co/7K50gbw/Pay-Pikpng.png" alt="Logo" class="h-16 w-auto object-contain hover:border-emerald-400">
            </h1>
        </a>        
    </div>
    <ul class="menu-links">


    
        <li>
            <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Commercial, commercialRoutes.Validation)"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                <div class="absolute">
                    <i class="bi bi-bell"></i>
                    <div id="containerDiv" *ngIf="demandLength !== 0">
                    <div class="px-1 rounded-full text-center text-xs absolute -top-2 -end-2" style="z-index: 9999;">
                        {{ demandLength }}
                        <div class="absolute top-0 start-0 rounded-full -z-10 animate-ping bg-emerald-50 w-full h-full"></div>
                    </div>
                </div>  
                </div>
                <span class="pl-6">Validation</span>
            </a>
        </li>

        <li>
            <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Commercial, commercialRoutes.Add)"
                routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-plus-circle"></i>
                <span>Ajouter un marchand</span>
            </a>
        </li>


        <!-- <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-diagram-3"></i>
                <span>UI Elements</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.Alert)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Alert</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.Tabs)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Tabs</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.Modal)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Modal</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.Buttons)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Buttons</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.DataTable)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Data Table</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Admin, commercialRoutes.Elements, elementRoutes.Forms)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Forms</span>
                    </a>
                </li>
            </ul>
        </li>  -->


        <li> 
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-sliders2-vertical"></i>
                <span>Paramètres</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Commercial, commercialRoutes.Settings, settingRoutes.Profile)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Profil</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Commercial, commercialRoutes.Settings, settingRoutes.Users)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item" ariaCurrentWhenActive="page">
                        <span>Site web</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="menu-item">
                <i class="bi bi-box-arrow-right"></i>
                <span>Se déconnecter</span>
            </a>
        </li>
    </ul>
</aside>

<div class="collapsible-btn-container">
    <button id="sidebar-collapse-btn" sidebarCollapse>
        <div class="w-6 h-16 flex justify-center items-center">
            <div class="collapsible-icons">
                <div class="collapsible-top-icon"></div>
                <div class="collapsible-bottom-icon"></div>
            </div>
        </div>
    </button>
</div>
