<section class="container px-4 mx-auto">

    <form>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <div class="flex flex-col">
                <label for="name" class="text-sm font-medium text-stone-600">Name client</label>
                <input type="text" id="name" #clientNameInput placeholder="Client Name"
                    class="mt-2 block w-full rounded-md border border-green-100 bg-green-100 px-2 py-2 shadow-sm outline-none focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50" />
            </div>

            <div class="flex flex-col">
                <label for="method" class="text-sm font-medium text-stone-600">Payment Method</label>
                <select id="method"
                    class="mt-2 block w-full rounded-md border border-green-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50"
                    #paymentMethodInput>
                    <option value="" disabled selected hidden class="text-gray-300">Select Payment Method</option>
                    <option *ngFor="let method of paymentMethods" [value]="method.name">{{ method.name }}</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="date" class="text-sm font-medium text-stone-600">Date of Entry</label>
                <input type="date" #dateInput
                    class="mt-2 block w-full cursor-pointer rounded-md border border-green-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50 text-gray-400" />
            </div>

            <div class="flex flex-col">
                <label for="status" class="text-sm font-medium text-stone-600">Status</label>
                <select id="status" #statusInput
                    class="mt-2 block w-full cursor-pointer rounded-md border border-green-100 bg-green-100 px-2 py-2 shadow-sm outline-none focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50">
                    <option class="flex text-green-200" value="" disabled selected hidden>Select Status</option>
                    <option value="completed">Completed</option>
                    <option value="pending">Pending</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
        </div>

        <div class="mt-6 grid w-full grid-cols-2 justify-end space-x-4 md:flex">
            <button type="button"
                class="mb-6 inline-block w-auto rounded bg-gray-200 px-6 py-2.5 font-medium text-gray-700 outline-none hover:opacity-80 focus:ring hover:shadow-md hover:bg-emerald-450"
                (click)="resetFilters()">Reset</button>

            <button type="button"
                class="mb-6 inline-block w-auto rounded bg-emerald-600 px-6 py-2.5 font-medium uppercase leading-normal text-white hover:shadow-md hover:bg-emerald-500"
                (click)="applyFilters()">Search</button>
        </div>
    </form>



    <div class="flex flex-col">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <!-- Header de la colonne -->
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Date
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Status
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    clientName
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Purchase
                                </th>
                                <th scope="col"
                                    class="relative py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            <ng-container *ngFor="let transaction of pagedTransactions">
                                <tr>
                                    <td
                                        class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                                        <div class="inline-flex items-center gap-x-3">
                                            <span>{{ transaction.transactionId }}</span>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">{{
                                        transaction.timestamp }}</td>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap"
                                        [ngStyle]="getStatusStyles(transaction.status)">
                                        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2"
                                            [ngStyle]="getStatusBadgeStyles(transaction.status)">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 3L4.5 8.5L2 6"
                                                    [ngStyle]="getStatusIconStyles(transaction.status)" />
                                            </svg>
                                            <h2 class="text-sm font-normal">{{ transaction.status }}</h2>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                        <div class="flex items-center gap-x-2">
                                            <div>
                                                <h2 class="text-sm font-medium text-gray-800 dark:text-white ">{{
                                                    transaction.clientName }}</h2>
                                                <p class="text-xs font-normal text-gray-600 dark:text-gray-400">{{
                                                    transaction.clientEmail }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                        Monthly subscription
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                                        <div class="inline-block">
                                            <a [routerLink]="['/marchand/dashboard/more/transaction'  ,marchandId,transaction.transactionId]"
                                                class="inline-block px-6 py-3 font-sans text-xs font-bold text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between mt-6">
        <a class="flex items-center px-5 py-2 text-sm text-green-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-green-900 dark:text-green-200 dark:border-green-700 dark:hover:bg-green-800"
            (click)="onPageChange(currentPage - 1)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            <span>Previous</span>
        </a>
        <div class="items-center hidden md:flex gap-x-3">
            <ng-container *ngFor="let page of pages">
                <a class="px-2 py-1 text-sm text-green-500 rounded-md dark:bg-green-800 bg-green-100/60"
                    (click)="onPageChange(page)">{{ page }}</a>
            </ng-container>
        </div>
        <a class="flex items-center px-5 py-2 text-sm text-green-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-green-900 dark:text-green-200 dark:border-green-700 dark:hover:bg-green-800"
            (click)="onPageChange(currentPage + 1)">
            <span>Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>

</section>