<aside>
    <div class="brand-wrapper">
        <a href="#" class="brand text-center">
            <h1 class="flex items-center font-bold text-emerald-50">
                <img src="https://i.ibb.co/7K50gbw/Pay-Pikpng.png" alt="Logo" class="h-16 w-auto object-contain hover:border-emerald-400">
            </h1>
        </a>        
    </div>
    <ul class="menu-links">
        <li>
            <a [routerLink]="commonServices.prepareRoute(appRoutes.Marchand, marchandRoutes.Dashboard)"
                routerLinkActive="active" class="menu-item" ariaCurrentWhenActive="page">
                <i class="bi bi-columns-gap"></i>
                <span>Tableau de bord</span>
            </a>
        </li>
        


        
        <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="true"
                (click)="subMenuToggleHandler($event)">
                <i class="bi bi-sliders2-vertical"></i>
                <span>Paramètres</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Marchand, marchandRoutes.Settings, settingRoutes.Profile)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Profil</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Marchand, marchandRoutes.Settings, settingRoutes.Users)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item" ariaCurrentWhenActive="page">
                        <span>Site web</span>
                    </a>
                </li>
            </ul>
        </li>



        <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="true"
            (click)="subMenuToggleHandler($event)" >
                <i class="bi bi-headset"></i>
                <span>Support</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Marchand, marchandRoutes.Support, supportRoutes.FAQ)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>FAQ</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item"
                        [routerLink]="commonServices.prepareRoute(appRoutes.Marchand, marchandRoutes.Support, supportRoutes.Contact)"
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Nous contacter</span>
                    </a>
                </li>
            </ul>
        </li>        


        
        <li>
            <a href="#" class="menu-item">
                <i class="bi bi-box-arrow-right"></i>
                <span>Se déconnecter</span>
            </a>
        </li>
    </ul>
</aside>

<div class="collapsible-btn-container">
    <button id="sidebar-collapse-btn" sidebarCollapse>
        <div class="w-6 h-16 flex justify-center items-center">
            <div class="collapsible-icons">
                <div class="collapsible-top-icon"></div>
                <div class="collapsible-bottom-icon"></div>
            </div>
        </div>
    </button>
</div>
