<div class=" flex justify-around">
    <div class="w-full max-w-3xl">
        <div class="-mx-2 md:flex">
            <div class="hover:scale-105 duration-700 w-full md:w-1/2 px-2">
                <div class="rounded-lg shadow-sm mb-4">
                    <div class="rounded-lg bg-white shadow-lg md:shadow-xl relative overflow-hidden">
                        <div class="px-3 pt-8 pb-10 text-center relative z-10">
                            <h4 class="text-sm uppercase text-gray-500 leading-tight">revenu de cette année <span class="text-emerald-800">{{ getCurrentYear() }}</span></h4>
                            <h3 class="text-3xl text-gray-700 font-semibold leading-tight my-3" [appIncreaseNumber]="totalAmount.valueOf()">
                                {{totalAmounts}} <span class="text-lg font-mono">MAD</span>
                            </h3>
                            <ng-container *ngIf="calculatePercentageChange().isPositive; else negativeChange">
                                <p appIncrease class="text-xs text-green-500 leading-tight">▲ {{ calculatePercentageChange().value }}</p>
                            </ng-container>
                            <ng-template #negativeChange>
                                <p appIncrease class="text-xs text-red-500 leading-tight">▼ {{ calculatePercentageChange().value }}</p>
                            </ng-template>
                                                        
                        </div>
                        <div class="absolute bottom-0 inset-x-0">
                            <canvas id="chart1" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover:scale-105 duration-700 w-full md:w-1/2 px-2">
                <div class="rounded-lg shadow-sm mb-4">
                    <div class="rounded-lg bg-white shadow-lg md:shadow-xl relative overflow-hidden">
                        <div class="px-3 pt-8 pb-10 text-center relative z-10">
                            <h4 class="text-sm uppercase text-gray-500 leading-tight">Nombre de clients actifs</h4>
                            <h3 class="text-3xl text-gray-700 font-semibold leading-tight my-3" >
                                {{calculateUniqueClientCount()}}
                            </h3>
                            <ng-container *ngIf="calculateClientCountPercentageChange().isPositive; else negativeChange">
                                <p appIncrease class="text-xs text-green-500 leading-tight">▲ {{ calculateClientCountPercentageChange().value }}</p>
                            </ng-container>
                            <ng-template #negativeChange>
                                <p appIncrease class="text-xs text-red-500 leading-tight">▼ {{ calculateClientCountPercentageChange().value }}</p>
                            </ng-template>  
                        </div>
                        <div class="absolute bottom-0 inset-x-0">
                            <canvas id="chart2" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- 
<div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5">
    <div class="w-full max-w-3xl">
        <div class="-mx-2 md:flex">
            <div class="w-full md:w-1/3 px-2" *ngFor="let chartData of chartDataArray">
                <div class="rounded-lg shadow-sm mb-4">
                    <div class="rounded-lg bg-white shadow-lg md:shadow-xl relative overflow-hidden">
                        <div class="px-3 pt-8 pb-10 text-center relative z-10">
                            <h4 class="text-sm uppercase text-gray-500 leading-tight">{{ chartData.title }}</h4>
                            <h3 class="text-3xl text-gray-700 font-semibold leading-tight my-3">{{ chartData.value }}</h3>
                            <p class="text-xs text-green-500 leading-tight">{{ chartData.trend }}</p>
                        </div>
                        <div class="absolute bottom-0 inset-x-0">
                            <canvas [id]="chartData.id" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
