<section class="grid grid-cols-1 mb-4 xl:grid-cols-1 gap-5">

    <div class="card container  py-12 mx-auto card p-8">
        <div class="mx-auto px-5">
            <div class="flex flex-col items-center">
                <h2 class="mt-5 text-emerald-700 text-center text-3xl font-bold tracking-tight md:text-5xl">FAQ</h2>
                <p class="mt-3 text-lg text-neutral-500 md:text-xl">
                    Les questions les plus fréquemment posées
                </p>
            </div>
            <div class="mx-auto mt-8 grid max-w-xl divide-y divide-neutral-200">
                <div class="hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span>Quels sont les modes de paiement qui existent ?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>

                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Notre widget prend en charge une large gamme de modes de paiement, y compris les cartes de
                            crédit/débit (Visa, Mastercard) ,Token ,AmanPay ,les portefeuilles électroniques (PayPal,
                            Google Pay)(soon), les virements bancaires et d'autres options populaires.
                        </p>

                    </details>
                </div>
                <div class="hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> Est-ce que notre widget est compatible avec les principales plateformes de commerce
                                électronique ?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Oui, notre widget est conçu pour être compatible avec les principales plateformes de
                            commerce électronique telles que Shopify, WooCommerce, Magento, et d'autres. Il peut être
                            facilement intégré à votre site web existant.
                        </p>
                    </details>
                </div>
                <div class=" hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> Comment puis-je accéder au backoffice partenaire pour gérer les transactions ?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Une fois que vous vous êtes inscrit en tant que partenaire, vous recevrez des identifiants
                            de connexion pour accéder à notre backoffice partenaire sécurisé. À partir de là, vous
                            pourrez visualiser et gérer les transactions, obtenir des rapports détaillés, configurer des
                            options de paiement et bien plus encore.
                        </p>
                    </details>
                </div>
                <div class="hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> Est-ce que notre solution garantit la sécurité des transactions en ligne ?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Oui, la sécurité est notre priorité absolue. Notre widget utilise des protocoles de cryptage
                            avancés pour protéger les données sensibles des utilisateurs lors des transactions en ligne.
                            De plus, notre backoffice partenaire est doté de fonctionnalités de sécurité robustes pour
                            prévenir la fraude et assurer la conformité aux normes de l'industrie.
                        </p>
                    </details>
                </div>
                <div class="hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span> Puis-je personnaliser l'apparence du widget pour qu'il corresponde à la marque de mon
                                entreprise ?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Absolument ! Notre widget est entièrement personnalisable pour s'adapter à l'esthétique et
                            au branding de votre entreprise. (soon)
                        </p>
                    </details>
                </div>
                <div class="hover:scale-105 duration-700 py-5">
                    <details class="group">
                        <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                            <span>Offrez-vous des remises ou des promotions?</span>
                            <span class="transition group-open:rotate-180">
                                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    viewBox="0 0 24 24" width="24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </summary>
                        <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                            Nous pouvons offrir des remises ou des promotions de temps en temps. Pour rester à jour sur
                            les dernières offres et promotions spéciales, vous pouvez vous inscrire à la newsletter de
                            l'entreprise ou la suivre sur les réseaux sociaux.
                        </p>
                    </details>
                </div>
            </div>
        </div>
    </div>
</section>