<nav class="flex items-center justify-between pb-4" aria-label="Pagination">
    <a class="relative inline-flex items-center rounded-md border border-emerald-700 bg-transparent px-4 py-2 text-sm font-medium text-emerald-700 hover:bg-emerald-50"
        rel="prev" href="/admin/dashboard"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
            </path>
        </svg> &nbsp; Previous
    </a>
</nav>

<div class="card p-5">
    <div class="card-title">
    <h3 class="text-xl font-bold leading-none">Merchant form</h3>
</div>
<div class="mt-5">
    <form class="max-w-2xl p-4">
        <div class="grid grid-cols-12 gap-x-6 space-y-4">
            <div class="col-span-12 md:col-span-8 mb-4">
            <div class="col-span-full">
                <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">
                    Cover photo
                </label>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-8">
                    <div class="text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                            clip-rule="evenodd" />
                        </svg>
                        <div class="mt-4 flex text-sm leading-6 text-gray-600">
                        <label for="file-upload"
                            class="relative cursor-pointer rounded-md bg-white font-semibold text-emerald-600 focus-within:outline-none  hover:text-emerald-500">
                            <span>Upload a file</span>
                            <input id="file-upload" name="file-upload" type="file" class="sr-only">
                        </label>
                        <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs leading-5 text-gray-600">PNG, JPG up to 10MB</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-span-12 md:col-span-6">
            <div class="form-group">
                <label for="base-input" class="form-label required"> First Name</label>
                <input type="text" id="base-input" placeholder="First Name " class="form-control" />
            </div>
            </div>
            <div class="col-span-12 md:col-span-6">
            <div class="form-group">
                <label for="base-input" class="form-label"> Last Name </label>
                <input type="text" id="base-input" placeholder="Last Name" class="form-control" />
            </div>
            </div>
            <div class="col-span-12 md:col-span-6">
            <div class="form-group">
                <label for="base-input" class="form-label required"> Email</label>
                <input type="text" id="base-input" placeholder="smith@email.com" class="form-control" />
            </div>
            </div>
            <div class="col-span-12 md:col-span-6">
            <div class="form-group">
                <label for="base-input" class="form-label"> Address</label>
                <input type="text" id="base-input" placeholder="vill/ thana/ post" class="form-control" />
            </div>
            </div>
        </div>
        <div class="mt-10 flex  gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <button type="submit" class="btn bg-emerald-300 hover:bg-emerald-600 btn-sm">Save</button>
        </div>
    </form>

    </div>