<nav class="flex items-center justify-between pb-4" aria-label="Pagination">
    <a class="relative inline-flex items-center rounded-md border border-emerald-700 bg-transparent px-4 py-2 text-sm font-medium text-emerald-700 hover:bg-emerald-50"
        rel="prev" href="marchand/dashboard/{{marchandId}}"><svg stroke="currentColor" fill="currentColor"
            stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
            </path>
        </svg> &nbsp; Précédent
    </a>
</nav>

<!-- Boutons -->
<div class=" flex justify-end mr-14">
    <span *ngIf="loading; else notLoading">
        <button type="button"
            class=" py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
            <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                </path>
            </svg>
            <span class="ml-2">Télécharger PDF</span>
        </button>
    </span>
    <ng-template #notLoading>
        <button (click)="startLoading()" type="button"
            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
            <svg class=" h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
            </svg>

            <span class="ml-2">Télécharger PDF</span>
        </button>
    </ng-template>
</div>
<!-- Fin des Boutons -->


<section class="grid grid-cols-1 mb-4 xl:grid-cols-1 2xl:grid-cols-1 gap-5">
    <!-- composant -->
    <div class="flex flex-col items-center justify-center bg-slate-100">
        <!-- thème sombre -->
        <div #content class="container mx-4">
            <!-- Facture -->
            <div class="px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
                <div class="mx-auto">
                    <!-- Carte -->
                    <div class="flex flex-col p-4 sm:p-10 bg-white shadow-md rounded-xl dark:bg-neutral-800">
                        <!-- Grille -->
                        <div class="flex justify-between">
                            <div>
                                <img src="https://i.ibb.co/7K50gbw/Pay-Pikpng.png" width="196" height="296" />
                            </div>
                            <!-- Col -->

                            <div class="text-end">
                                <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-neutral-200">
                                    Facture #</h2>
                                <span class="mt-1 block text-gray-500 dark:text-neutral-500">3682303</span>

                                <address class="mt-4 not-italic text-gray-800 dark:text-neutral-200">
                                    45 Roker Terrace<br>
                                    Latheronwheel<br>
                                    KW5 8NW, Londres<br>
                                    Royaume-Uni<br>
                                </address>
                            </div>
                            <!-- Col -->
                        </div>
                        <!-- Fin Grille -->

                        <!-- Grille -->
                        <div class="mt-8 grid sm:grid-cols-2 gap-3">
                            <div>
                                <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">Facturer à :</h3>
                                <div class="flex-none sm:flex" *ngFor="let marchand of marchands">
                                    <div class="hover:scale-105 duration-700 relative">
                                        <img src="{{ marchand.marchandLogoUrl }}" alt="aji"
                                            class="object-cover rounded-2xl" />
                                    </div>
                                    <div class="flex-auto sm:ml-5 justify-evenly">
                                        <div class="flex items-center justify-between sm:mt-2"
                                            *ngFor="let marchand of marchands">
                                            <div class="flex items-center">
                                                <div class="flex flex-col">
                                                    <div
                                                        class="w-full flex-none text-lg text-gray-400 font-bold leading-none">
                                                        {{ marchand.marchandName }}
                                                    </div>
                                                    <div class="flex-auto text-gray-400 my-1">
                                                        <span class="mr-3"> {{ marchand.marchandHost }}</span>
                                                    </div>
                                                    <div class="flex-auto text-gray-400 my-1">
                                                        {{ marchand.marchandDescription }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->

                        </div>
                        <!-- Fin Grille -->

                        <!-- Tableau -->

                        <!-- Corps -->
                        <div class="p-4 sm:p-7 overflow-y-auto">
                            <div class="text-center">
                                <h3 id="hs-ai-modal-label"
                                    class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
                                    Facture de Preline
                                </h3>
                                <p class="text-sm text-gray-500 dark:text-neutral-500">
                                    Facture #3682303
                                </p>
                            </div>

                            <!-- Grille -->
                            <div class="mt-5 sm:mt-10 grid grid-cols-2 sm:grid-cols-3 gap-5">
                                <div>
                                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Montant
                                        payé :</span>
                                    <span
                                        class="block text-sm font-medium text-gray-800 dark:text-neutral-200">$316.8</span>
                                </div>
                                <!-- Fin Col -->

                                <div>
                                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Date
                                        du paiement :</span>
                                    <span class="block text-sm font-medium text-gray-800 dark:text-neutral-200">22
                                        avril 2020</span>
                                </div>
                                <!-- Fin Col -->

                                <div>
                                    <span class="block text-xs uppercase text-gray-500 dark:text-neutral-500">Méthode
                                        de paiement :</span>
                                    <div *ngFor="let method of paymentMethods" class="flex items-center gap-x-2">
                                        <img src="{{ method.methodIconUrl }}" alt="aji"
                                            class="relative p-1 w-14 h-14 object-cover rou" />
                                        <span
                                            class="block text-sm font-medium text-gray-800 dark:text-neutral-200 uppercase">{{method.methodName}}</span>
                                    </div>
                                </div>
                                <!-- Fin Col -->
                            </div>
                            <!-- Fin Grille -->
                        </div>
                        <!-- Fin Corps -->

                        <div class="mt-6">
                            <div class="border border-gray-200 p-4 rounded-lg space-y-4 dark:border-neutral-700">
                                <div class="hidden sm:grid sm:grid-cols-5">
                                    <div
                                        class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                        Article</div>
                                    <div
                                        class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                        Qté</div>
                                    <div
                                        class="text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                        Tarif</div>
                                    <div
                                        class="text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                        Montant</div>
                                </div>

                                <div class="hidden sm:block border-b border-gray-200 dark:border-neutral-700"></div>

                                <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
                                    <div class="col-span-full sm:col-span-2">
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Article</h5>
                                        <p class="font-medium text-gray-800 dark:text-neutral-200">Design UX et UI</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Qté</h5>
                                        <p class="text-gray-800 dark:text-neutral-200">1</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Tarif</h5>
                                        <p class="text-gray-800 dark:text-neutral-200">5</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Montant</h5>
                                        <p class="sm:text-end text-gray-800 dark:text-neutral-200">$500</p>
                                    </div>
                                </div>

                                <div class="sm:hidden border-b border-gray-200 dark:border-neutral-700"></div>

                                <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
                                    <div class="col-span-full sm:col-span-2">
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Article</h5>
                                        <p class="font-medium text-gray-800 dark:text-neutral-200">Projet web</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Qté</h5>
                                        <p class="text-gray-800 dark:text-neutral-200">1</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Tarif</h5>
                                        <p class="text-gray-800 dark:text-neutral-200">24</p>
                                    </div>
                                    <div>
                                        <h5
                                            class="sm:hidden text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                                            Montant</h5>
                                        <p class="sm:text-end text-gray-800 dark:text-neutral-200">$350</p>
                                    </div>
                                </div>

                                <div class="hidden sm:block border-b border-gray-200 dark:border-neutral-700"></div>

                                <!-- Totaux -->
                                <div class="flex flex-col sm:grid sm:grid-cols-5 gap-2 pt-4">
                                    <div class="text-start sm:col-span-2"></div>
                                    <div class="text-start sm:text-end">
                                        <span
                                            class="text-sm font-medium text-gray-800 dark:text-neutral-200">Total</span>
                                    </div>
                                    <div class="text-end">
                                        <span
                                            class="text-xl font-medium text-gray-800 dark:text-neutral-200">$150</span>
                                    </div>
                                </div>
                                <!-- Fin Totaux -->
                                
                            </div>
                        </div>
                        <!-- Fin Tableau -->
                    </div>
                    <!-- Fin Carte -->
                </div>
            </div>
        </div>
        <!-- Fin thème sombre -->
    </div>
    <!-- Fin composant -->
</section>



<app-scroll-to-top></app-scroll-to-top>